
/*
* * VARIABLES 
*/

/* 
    * font
*/

$poppins: 'Poppins', sans-serif;

/*
    * ALL
*/
$primary_color_white: hsl(0, 0%, 100%);

$primary_color_f7:hsl(0, 0%, 97%);

$primary_color_gray_23: hsl(0, 0%, 14%);
$primary_color_orange: hsl(39, 91%, 54%);
$primary_color_graybl: hsl(0, 0%, 20%);
$primary_color_border_search_header: hsl(0, 0%, 78%);
$primary_color_text_search: hsl(211, 11%, 53%);
$primary_color_borderinput: hsl(0, 0%, 78%);
$primary_color_placeholder:hsl(240, 19%, 55%);
$primary_color_borderTop: hsl(210, 14%, 89%);
$primary_color_navigation_item_link: rgb(51,51,51);
$primary_color_black111: rgb(111, 111, 111);

/*
    * NAVICATION
*/
$primary_color_red: hsl(0, 100%, 50%);
$primary_color_icon_text_headphone: hsl(0, 0%, 56%);
$primary_color_sale: #E30514
/* 
    font-family
*/

$pont_poppins: Poppins, sans-serif;





